
.main-content{

}

select{
    width: 100%;
    height: 3em;
    border-radius: 10px;
    padding: 0 5px;
    font-family: fantasy;
    letter-spacing: 3px;
}

/* Countries */
.ddl-countries-content{
    margin-bottom: 10px;
}

.ddl-countries{

}

.main-country-content{
    display: none;
    width: 100%;
    margin-bottom: 10px;
}

.img-country-flag{
    display: inline-block;
    width: 10%;
    opacity: 0.1;
}

.txt-country-name{
    display: inline-block;
    font-size: 2em;
}

.txt-country-currency{
    display: block;
    font-size: 0.8em;
    margin-top: 5px;
}

/* Regions */
.ddl-regions-content{
    display: none;
    margin-bottom: 10px;
}

.ddl-regions{

}

.main-region-content{
    display: none;
    margin-bottom: 10px;
}

.txt-region-name{
    display: block;
    font-size: 1.5em;
}

.txt-region-capital{
    display: block;
    font-size: 0.8em;
}

/* Cities */
.ddl-cities-content{
    display: none;
    margin-bottom: 10px;
}

.ddl-cities{

}

.main-city-content{
    display: none;
    margin-bottom: 10px;
}

.txt-city-name{
    display: block;
    font-size: 1.5em;
}

.txt-city-population{
    display: block;
    font-size: 0.8em;
}
